# *.import
# so it turns out saving this file is better

.vscode

/compatibilityLayers/*
!/compatibilityLayers/0default.json
!/compatibilityLayers/0defaultAS.json
!/compatibilityLayers/defaultAS
!/compatibilityLayers/0defaultMS.json
!/compatibilityLayers/defaultMS

!/compatibilityLayers/hellhound**
!/compatibilityLayers/lycanroc**